<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartstudy.commonlib">

    <!-- 一般权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.smartstudy.xxd.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">

        <!-- glide相关 -->
        <meta-data
            android:name="com.smartstudy.commonlib.base.config.GlideConfiguration"
            android:value="GlideModule" />
        <!-- windowIsTranslucent不可与screenOrientation同时设置 -->
        <activity
            android:name=".ui.activity.CommonSearchActivity"
            android:theme="@style/AppDialogActivityTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.activity.SelectMyPhotoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
            android:name=".ui.activity.ClipPictureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.CommonEditNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChooseListActivity"
            android:screenOrientation="portrait" />
        <!-- windowIsTranslucent不可与screenOrientation同时设置 -->
        <activity
            android:name=".ui.activity.DialogChooseTimeActivity"
            android:theme="@style/BottomTheme" />
        <!-- windowIsTranslucent不可与screenOrientation同时设置 -->
        <activity
            android:name=".ui.activity.ImPicSelectorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.ReloginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppDialogActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateHidden" />

        <activity-alias
            android:name="io.rong.imkit.plugin.image.PictureSelectorActivity"
            android:screenOrientation="portrait"
            android:targetActivity="com.smartstudy.commonlib.ui.activity.ImPicSelectorActivity" />

        <activity
            android:name=".ui.activity.ImFileSelectorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity-alias
            android:name="io.rong.imkit.activity.FileListActivity"
            android:screenOrientation="portrait"
            android:targetActivity="com.smartstudy.commonlib.ui.activity.ImFileSelectorActivity" />

        <activity
            android:name=".ui.activity.ImFileManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity-alias
            android:name="io.rong.imkit.activity.FileManagerActivity"
            android:screenOrientation="portrait"
            android:targetActivity="com.smartstudy.commonlib.ui.activity.ImFileManagerActivity" />

        <activity
            android:name=".ui.activity.ImFilePreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity-alias
            android:name="io.rong.imkit.activity.FilePreviewActivity"
            android:screenOrientation="portrait"
            android:targetActivity="com.smartstudy.commonlib.ui.activity.ImFilePreviewActivity">

            <intent-filter>
                <action android:name="io.rong.imkit.intent.action.openfile" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="io.rong.imkit.activity.PicturePagerActivity"
            android:screenOrientation="portrait"
            android:targetActivity="com.smartstudy.commonlib.ui.activity.ImPicPagerActivity" />

        <activity
            android:name=".ui.activity.ImPicPagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="io.rong.imkit.intent.action.picturepagerview" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.BrowserPictureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" />

    </application>

</manifest>